
@{
    ViewData["Title"] = "HumanResourceManageSet";
}

<h2>HumanResourceManageSet</h2>

<form asp-action="HumanResourceManage" method="get">
    <button id="jump" type="submit"  hidden></button>
</form>

<script>
    document.getElementById('jump').click();
</script>