
@{
    ViewData["Title"] = "MessageSend";
}

<h2>MessageSend</h2>

<form asp-action="Message" method="get">
    <button id="jump" type="submit" hidden></button>
</form>

<script>
    document.getElementById('jump').click();
</script>